numpy
pandas
scipy
scikit-learn
statsmodels
pydot
graphviz
seaborn
matplotlib
scikit-image
opencv-python
flask
streamlit
keras
tensorflow
torch
ultralytics
xgboost
mlflow
transformers
diffusers
langchain
gcloud
google-cloud-vision